/* Базовая кнопка */
.button {
  padding: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none !important;
}
.button:hover {
  background-color: rgb(255, 87, 87);
}
